
@font-face {
    font-family: 'EBGaramond';
    src: url('EBGaramond.ttf');
}

@font-face {
    font-family: 'EBGaramondItalic';
    src: url('EBGaramond-Italic.ttf');
}

@font-face {
    font-family: 'AlpinaBold';
    src: url('GT-Alpina-Typewriter-Bold-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'AlpinaThin';
    src: url('GT-Alpina-Typewriter-Thin-Trial.woff2') format('woff2');
}

:root {
    --text-stroke-thick: 2px 0px 0 #0057FF,1.7709120513064198px 0.929446344087537px 0 #0057FF,1.1361294934623118px 1.6459677317873127px 0 #0057FF,0.241073360510646px 1.985417748196108px 0 #0057FF,-0.7092097740850709px 1.8700324853708297px 0 #0057FF,-1.4970214963422024px 1.3262453164815904px 0 #0057FF,-1.941883634852104px 0.47863132857511537px 0 #0057FF,-1.9418836348521042px -0.47863132857511487px 0 #0057FF,-1.4970214963422026px -1.32624531648159px 0 #0057FF,-0.7092097740850718px -1.8700324853708294px 0 #0057FF,0.2410733605106464px -1.985417748196108px 0 #0057FF,1.1361294934623096px -1.645967731787314px 0 #0057FF,1.77091205130642px -0.9294463440875368px 0 #0057FF;
    --text-stroke-medium: 1px 0px 0 #0057FF,0.6234898018587336px 0.7818314824680298px 0 #0057FF,-0.22252093395631434px 0.9749279121818236px 0 #0057FF,-0.900968867902419px 0.43388373911755823px 0 #0057FF,-0.9009688679024191px -0.433883739117558px 0 #0057FF,-0.2225209339563146px -0.9749279121818236px 0 #0057FF,0.6234898018587334px -0.7818314824680299px 0 #0057FF;
    --text-stroke-thin: 0.33px 0px 0 #0057FF,-0.16499999999999992px 0.2857883832488648px 0 #0057FF,-0.16500000000000015px -0.2857883832488647px 0 #0057FF;
}
.serif-font {
    font-family: 'EBGaramond';
}
.serif-font-italic {
    font-family: 'EBGaramondItalic';
}

.mono-font {
    font-family: 'AlpinaThin';
    font-weight: normal;
}
.mono-font-bold {
    font-family: 'AlpinaBold';
    font-weight: normal;
}

.sans-font {
    font-family: Arial, Helvetica, sans-serif;
}

h2, .h2 {
	font-size: 30px;
    font-family: 'AlpinaBold';
	font-weight: normal;
	letter-spacing: 0;
	line-height: auto;
    text-shadow: var(--text-stroke-medium);
}
.h2.sans-font {
    font-family: Arial, Helvetica, sans-serif;
}
h3, .h3 {
	font-size: 30px;
    font-family: 'AlpinaBold';
	font-weight: normal;
	letter-spacing: 0;
	line-height: auto;
    text-shadow: var(--text-stroke-medium);
}
h4, .h4 {
	font-size: 16px;
    font-family: 'AlpinaThin';
	font-weight: normal;
	letter-spacing: 2.88px;
	line-height: auto;
    text-shadow: var(--text-stroke-medium);
}

p {
    font-size: 28px;
    font-family: 'AlpinaThin';
    font-weight: normal;
    line-height: 45px;
    letter-spacing: 0;
    text-shadow: var(--text-stroke-thin);
}
p.subtitle {
    font-size: 30px;
    font-family: 'AlpinaThin';
    font-weight: normal;
    line-height: auto;
    letter-spacing: 0;
    text-shadow: var(--text-stroke-medium);
}

p.announcement, h2.announcement {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0;
    text-shadow: none;
}
p.footer-note {
    font-size: 24px;
    font-family: 'AlpinaThin';
    font-weight: normal;
    line-height: auto;
    letter-spacing: 1px;
    text-shadow: var(--text-stroke-medium);
}
p.info {
    font-size: 20px;
    font-family: 'EBGaramond';
    font-weight: normal;
    line-height: 120%;
    letter-spacing: 1px;
    text-shadow: var(--text-stroke-medium);
    text-transform: uppercase;
}
p.hash-border {
	font-size: 20px;
    font-family: 'AlpinaBold';
	font-weight: normal;
	letter-spacing: 8px;
	line-height: auto;
    text-shadow: var(--text-stroke-medium);
}

p.body-lg {

}

.body-sm {
	font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 90%;
    text-shadow: none;
}
.body-sm.font-bold {

}


.atc-btn {
    border: 3px solid #0057FF;
    color: #0057FF;
    font-size: 24px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    text-shadow: var(--text-stroke-thick);
    padding: 10px;
}
.atc-btn:hover {
    border: 3px solid #0057FF;
    background: #0057FF;
    color: white;
    font-size: 24px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    text-shadow: var(--text-stroke-thick);
    padding: 10px;
}
@media (max-width: 768px) {
}
  